<ul class="roster">
  <li>John</li>
  <li>Paul</li>
  <li>Ringo</li>
</ul>

<ol class="conversation">
  <li>
    <em>Somebody</em>
    <p>Hello!</p>
  </li>
  <li>
    <em>John</em>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </li>
</ol>

<div class="compose">
  <input type="text" />
  <button>&raquo;</button>
</div>