<ul class="roster">
  <li>John</li>
  <li>Paul</li>
  <li>Ringo</li>
</ul>

<ol class="conversation">
  <li>
    <div class="meta">
      <span class="who">somebody</span>
      <span class="when">sometime</span>
    </div>
    <p>Hello!</p>
  </li>
  <li>
    <div class="meta">
      <span class="who">John</span>
      <span class="when">sometime</span>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </li>
</ol>

<div class="compose">
  <input type="text" />
  <button>&raquo;</button>
</div>