<div id="page-index">

  <div class="standby">
    Loading, please wait...
  </div>

  <%- partial('draggable', {title:'Chatroom', className:'chatroom', content:partial('chatroom')}) %>
  <%- partial('draggable', {title:'Twitter', className:'twitstream', content:partial('twitstream')}) %>

</div>
